<% if user_signed_in? %> 
  <h2>Articles  </h2> <%= link_to 'Create Article',new_article_path %>
  <div class="text-danger">HEAD</div>
  <% for article in @articles %>
    <div><img src="<%= asset_url(article.image) %>" alt="Article Image" class="imgthumbnail" /><%= article.title  %> ---  <%= link_to 'View',article_path(article)%></div>
  <% end %>  
<% end %>
