.imgthumbnail {
  width: 100px;
  object-fit: contain;
  object-position: center;
}

.imgthumbnailView {
  width: 600px;
  object-fit: contain;
  object-position: center;
}

.cardLayout {
  max-width: 50%;
  margin-top: 20px;
}

.cardBodyLayout {
  display: flex;
  justify-content: space-between;
}

.bodyPadding {
  padding: 20px;
}
